/* 1.2. Clear Fix
   ========================== */

   .cf:before,
   .cf:after {
     display: table;
     content: " ";
   }
   
   .cf:after { clear: both; }
   .cf { *zoom: 1; }
   
   /*for all*/
   body {
     box-sizing: border-box;
     font-family: 'Montserrat';
   }
   
   a { 
     display: inline-block;
     text-decoration: none; 
   }
   
   li {
     display: inline-block;
     list-style-type: none;
   }
   
   /*for wrapper*/
   .wrapper {
     max-width: 1360px;
     width: 84%;
     margin: 0 auto;
   }