@charset "UTF-8";
@font-face {
  src: url("../fonts/Brusher.ttf");
  font-family: 'brusher';
}

@font-face {
  src: url("../fonts/edosz.ttf");
  font-family: 'edosz';
}

@font-face {
  src: url("../fonts/Brushcrazy DEMO.otf");
  font-family: 'brushify';
}

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 81.5%;
  margin: 0 auto;
}

.social-icon li a {
  display: inline-block;
  text-indent: -9999px;
}

header .wrapper {
  width: 95.5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

header .wrapper .navbar a {
  padding: 26px 18.2px 22px;
  color: #424B52;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

header .wrapper .navbar a:hover {
  color: #FFF;
  background-color: #F46239;
}

.social-icon {
  margin-bottom: 9px;
}

.social-icon li a::before {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon li a.facebook::before {
  content: "";
  float: right;
  color: #F46239;
  font-size: 16px;
  font-family: 'fontAwesome';
  text-indent: 0;
}

.social-icon li a.twitter::before {
  content: "";
  float: right;
  color: #F46239;
  font-size: 16px;
  font-family: 'fontAwesome';
  text-indent: 0;
}

.social-icon li a.linked-in::before {
  content: "";
  float: right;
  color: #F46239;
  font-size: 16px;
  font-family: 'fontAwesome';
  text-indent: 0;
}

.social-icon li a.instagram::before {
  content: "";
  float: right;
  color: #F46239;
  font-size: 16px;
  font-family: 'fontAwesome';
  text-indent: 0;
}

.hamburger {
  display: none;
}

.banner .wrapper {
  width: 100%;
}

.banner .wrapper .slider {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.banner .wrapper .slider__slide {
  min-width: 100%;
  position: relative;
}

.banner .wrapper .slider__slide div {
  width: 50%;
  padding: 1.5%;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 60%;
  right: auto;
  bottom: auto;
  left: 50%;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: #F46239;
}

.banner .wrapper .slider__slide div span {
  display: block;
  padding-top: 0.3%;
  word-spacing: 3px;
  line-height: 23px;
}

.read-more {
  padding: 1% 1.5% 0.95%;
  position: absolute;
  z-index: 1;
  top: 83.5%;
  right: auto;
  bottom: auto;
  left: 50%;
  color: #F46239;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  background-color: #FFF;
  transition: 0.3s ease-in-out;
}

.read-more::after {
  padding: 0 0 0 8px;
  content: "";
  float: right;
  color: #F46239;
  font-size: 16px;
  font-family: 'fontAwesome';
  text-indent: 0;
  transform: translateY(-5%);
  transition: 0.3s ease-in-out;
}

.read-more:hover {
  color: #FFF;
  background-color: #F46239;
}

.read-more:hover::after {
  color: #FFF;
}

.help {
  padding: 6% 0;
}

.help p {
  padding: 4.5% 0;
  color: #424B52;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  text-transform: normal;
  word-spacing: -2px;
  text-align: center;
}

h3 {
  color: #424B52;
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.services {
  padding: 1.1% 0;
}

.services a {
  display: block;
}

.services span {
  padding: 14% 0 0;
  display: block;
  color: #424B52;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
}

.services li {
  width: 17%;
  padding-bottom: 2.2%;
}

.services .service {
  padding: 5% 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
