.services {
	padding: 1.1% 0 0;

	a {
		display: block;
		@include transition(0.3s);

		&:hover {
			box-shadow: 15px 15px 15px rgba(0,0,0,0.1);
		}
	}
	
	span {
		padding: 14% 0 0;
		display: block;
		@include textcharacteristics($secondaryColor,16px,700,uppercase);
		letter-spacing: 0.5px;
		text-align: center;
	}

	li {
		width: 17%;
		padding-bottom: 2.2%;

		@include breakpoint('phone') { width: 48%; }

		@include breakpoint('iphone') { width: 100%; }
	}

	.service {
		padding: 5% 0 4.3%;
	}
}

.flex-container {
	@include flex(wrap,row,space-between);
}